.main{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

}
.dashboardContainer{
    border-left: 2px solid black;
    background-color: white;
    
}

.dashboard{
    
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    

}
.dashboardBox2{
    display: flex;
    margin: 10px;
    text-align: center;
    justify-content: center;
    padding: 5px;

    
}
.dashboardBox2>a{
    border: 1px solid black;
    margin-left: 40px;
    padding: 20px;
    border-radius: 50px;
    width: 100%;
}
.dashboardBox2>a:first-child{
    background-color: blue;
    color: black;
}
.dashboardBox2>a:nth-child(2){
    background-color: red;
    color: black;
}
.dashboardBox2>a:last-child{
    background-color: chartreuse;
    color: black;
}
.charts{
    display: flex;
}
.chart{
    width: 70%;
    margin: auto;
    
}
.dchart{
    width: 20vmax;
    height: 20vmax;
    margin: auto;
}
.dashboardHeading{
    text-align: center;
    font-size: 1rem;
}
@media screen and (max-width: 700px) {

    
    .main{
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
    
    }
    .dashboardContainer{
        border-left: 2px solid black;
        background-color: white;
        
    }
    
    .dashboard{
        
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 5fr;
        
    
    }
    .dashboardBox2{
        display: flex;
        
        text-align: center;
        justify-content: center;
       
        flex-direction: column;
    
        
    }
    .dashboardBox2>a{
        border: 1px solid black;
       margin-top: 10px;
        padding: 5px;
        border-radius: 50px;
        width: 15vmax;
        height: 11vmax;
        justify-content: center;
    }
    .dashboardBox2>a:first-child{
        background-color: blue;
        color: black;
    }
    .dashboardBox2>a:nth-child(2){
        background-color: red;
        color: black;
    }
    .dashboardBox2>a:last-child{
        background-color: chartreuse;
        color: black;
    }
    .charts{
        display: flex;
        flex-direction: column;
    }
    .chart{
        width: 90%;
        margin: auto;
        
    }
    .dchart{
        width: 20vmax;
        height: 20vmax;
        margin: auto;
    }
    .dashboardHeading{
        text-align: start;
        font-size: 1rem;

    }




}

