.resetPasswordMain{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0%;
    background-color: black;

}


.resetPasswordContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: crimson;
    position: fixed;
    top: 0;
    left: 0%;
    clip-path: polygon(78% 0, 100% 23%, 100% 79%, 78% 100%, 20% 100%, 0% 60%, 2% 2%);
}
.resetPasswordBox{
    width: 50vmax;
    height: 45vmax;
    background-color: white;
    overflow: hidden;
    border: 1px solid crimson;
    border-radius: 50px;
}

.resetPasswordForm{
    display: flex;
    flex-direction: column;
    padding: 5vmax;
    margin: auto;
    height: 70%;
    justify-content: space-evenly;
    align-items: center;
}
.resetPasswordForm>div{
    width: 100%;
    display: flex;
    align-items: center;
}
.resetPasswordForm>div>input{
    width: 100%;
    padding: 1vmax 3vmax;
    border: 1px solid rgb(112, 109, 109);
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}
.resetPasswordIcon{
    position: absolute;
    right: 31vmax;
    cursor: pointer;
    
}
.resetPasswordIcon:hover{
    color: brown;
}

.resetPasswordForm>div>svg{
    font-size: 2rem;
    margin: 5px;
}

.resetPasswordBtn{
    width: 9vmax;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}
.resetPasswordBtn:hover{
    color: black;
    background-color: brown;
    font-size: 1rem;
}


@media screen and (max-width: 600px){
    .resetPasswordIcon{
        position: absolute;
        right: 50px;
        padding-right: 10px;
    }
    .resetPasswordIcon:hover{
        color: brown;
    }

    .resetPasswordForm{
    display: flex;
    flex-direction: column;
    padding: 5vmax;
    margin: auto;
    height: 70%;
    justify-content: space-evenly;
    align-items: center;
}
.resetPasswordForm>div>input{
    width: 100%;
    padding: 1vmax 3vmax;
    border: 1px solid rgb(112, 109, 109);
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}
} 
