.loginRegisterMain{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0%;
    background-color: black;

}


.loginRegisterContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: crimson;
    position: fixed;
    top: 0;
    left: 0%;
    clip-path: polygon(78% 0, 100% 23%, 100% 79%, 78% 100%, 20% 100%, 0% 60%, 2% 2%);
}
.loginRegisterBox{
    width: 50vmax;
    height: 45vmax;
    background-color: white;
    overflow: hidden;
}
.loginRegisterToggle{
    display: flex;
    height: 5vmax;
}
.loginRegisterToggle>p{
    display: grid;
    place-items: center;
    width: 100%;
    cursor: pointer;
}
.loginRegisterToggle>p:hover{
    color: crimson;
}
.loginRegisterBox>div>button{
    width: 50%;
    height: 5px;
    border: none;
    background-color: black;
}
.loginForm,
.registerForm{
    display: flex;
    flex-direction: column;
    padding: 5vmax;
    margin: auto;
    height: 70%;
    justify-content: space-evenly;
    align-items: center;
}
.loginForm>div,
.registerForm>div{
    width: 100%;
    display: flex;
    align-items: center;
}
.loginForm>div>input,
.registerForm>div>input{
    width: 100%;
    padding: 1vmax 3vmax;
    border: 1px solid rgb(112, 109, 109);
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}
#registerImage>img{
    height: 4.6vmax;
    width: 4.6vmax;
}
.passwordIcon{
    position: absolute;
    right: 31vmax;
    cursor: pointer;
    
}
.passwordIcon:hover{
    color: brown;
}

.registerpasswordIcon{
    position: absolute;
    right: 6vmax;
    cursor: pointer;
    
}
.registerpasswordIcon:hover{
    color: brown;
}
.loginBtn{
    width: 8vmax;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}
.loginBtn:hover{
    color: black;
    background-color: brown;
    font-size: 1rem;

}
.registerBtn{
    width: 9vmax;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}
.registerBtn:hover{
    color: black;
    background-color: brown;
    font-size: 1rem;
}

.loginForm>div>svg,
.registerForm>div>svg{
    font-size: 2rem;
    margin: 5px;
}
.loginForm>a{
    color: rgb(117, 115, 115);
    align-self: flex-end;
}
.loginForm>a:hover{
    color: black;
}
.shiftToLeft {
    transform: translateX(-100%);
}
.shiftToNeutral {
    transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

@media screen and (max-width: 600px){
    .passwordIcon{
        position: absolute;
        right: 50px;
        padding-right: 10px;
    }
    .passwordIcon:hover{
        color: brown;
    }
    .loginForm,
    .registerForm{
    display: flex;
    flex-direction: column;
    padding: 5vmax;
    margin: auto;
    height: 70%;
    justify-content: space-evenly;
    align-items: center;
}
.loginForm>div>input,
.registerForm>div>input{
    width: 100%;
    padding: 1vmax 3vmax;
    border: 1px solid rgb(112, 109, 109);
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}
} 
